/* paleta de colores

#F42923 rojo
#F9F7F7 blanco
#272725 negro
#918868 beige
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* -----------------header------------------- */
header {
    background-color: #F42923;

}
.logo {
    width: 100px;
}

ul {
    list-style: none;  
}

nav ul li a {
    color: #272725;
    text-decoration: none;
    font-size: 1.1rem;
    font-family:serif;
    font-weight: bold;
}

/* -----------main index------------*/

.titulo {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;


}
.tituloTexto {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}

.banner {
    background-image: url(../recursos/imagenes/bannerr.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    color: #272725;
}

.tituloPresentacion {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 600;

}

.tituloPresupuesto {
    font-size: 2rem;
    font-weight: bold;
}

.formulario {
    font-size: 0.9rem;
}

/* --------------Footer---------------*/
footer {
    background-color: #918868 ;
}

.suscripcion {
    width: fit-content;
}

.whatsapp {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    background-color: #25D366; 
    color: white; 
    border-radius: 50%; 
    width: 48px; 
    height: 48px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 30px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.3); 
    z-index: 1000;
    text-decoration: none;
}

.dimensionesIcono {
    height: 48px;
    width: 48px;
    align-items: center;
    justify-content: center;
    display: flex;

}

.border-map {
    padding-left: 80%;
}

.mapa {
    height: 100px;
    width: 200px;
    position: right;
    padding-right: 90px;
    border: 0;
}


.direccion{
    font-size: 0.7rem;
    text-align: right;
    padding-right: 90px;
}


.pie{
    font-size: 0.8rem;
    text-align: center;
}