
@use "./generales/variables";
@use "./generales/base";
@use "./generales/header";
@use "./page/index";
@use "./page/proyectos";
@use "./page/servicios";
@use "./page/contacto";
@use "./generales/footer";
@use "./generales/whatsapp";
@use "./page/index_mediaQ";
@use "./page/proyectos_mediaQ";
@use "./page/servicios_mediaQ";
@use "./page/contacto_mediaQ";
@use "./generales/footer_mediaQ";
@use "./generales/whatsapp_mediaQ";

