/* -----------Footer mediaQuery ----------*/
footer {
    @media (max-width: 480px) {
        padding: 20px 20px;
        text-align: center;
        .container-footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: center;
            .suscripcion {
                margin-left: 0px;
                form {
                    input[type="email"] {
                        width: 65%;
                        font-size: 0.8rem;
                    }
                    button {
                        font-size: 1rem;
                        padding: 6px 10px;
                    }
                }
            }
        }

        .container-map {
            .border-map {
                display: flex;
                justify-content: center;
                .mapa {
                    width: 100%;
                    height: 100px;
                    margin-top: 40px;
                }
            }
            .direccion {
                margin-top: 5px;
                font-size: 0.8rem;
                color: #d8d8d8;
                justify-items: center;
            }

        }
        .pie {
            font-size: 0.7rem;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 0;
        }
    }
}