/*---------- Footer --------*/
footer {
    background-color: #918868 ;
    display: flexbox;
    padding: 40px 5px 20px;
    text-align: start;
    font-family: Arial, sans-serif;

    .container-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .suscripcion {
            margin-bottom: 30px;
            align-items: center;
            margin-left: 40px;
            form {
                display: inline-block;
                max-width: 400px;
                width: 100%;
                input[type="email"] {
                    width: 70%;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 12px;
                }
                button {
                    padding: 8px 16px;
                    background-color: rgb(83, 82, 82);
                    color: white;
                    border: none;
                    border-radius: 12px;
                    cursor: pointer;
                }
                button:hover {
                    background-color: green;
                }
            }
        }
    }

    .container-map {
        display: flex;
        flex-direction: column;
        justify-items: end;
        .border-map {
            display: flex;
            justify-content: flex-end;
            .mapa {
                width: 100%;
                max-width: 300px;
                height: 100px;
                border: none;
                border-radius: 10px;
                margin-right: 40px;
            }
        }
        .direccion{
            margin-top: 10px;
            font-size: 0.8rem;
            color: #d8d8d8;
            justify-content: flex-end;
            margin-right: 40px;
        }
    }

    .pie {
        font-size: 0.8rem;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0;
    }
}