/* -----------------header------------------- */
header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F42923;
    height: auto;
    width: auto;
    .fondo-nav {
        a:hover {
            color: #F9F7F7;
        }
        .logo {
            width: 55px;
            border-radius: 50px;
            margin-left: 2rem;
        }
        ul.navbar-nav {
            list-style: none; 
            color: #000000;
            text-decoration: none;
            font-size: 1rem;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            margin-right: 2rem;
        }
    }
}





