/*--------- Whatsapp mediaQuery ---------*/
.whatsapp {
    @media (max-width: 480px) {
        bottom: 15px;
        right: 15px;
        a {
            width: 45px;
            height: 45px;
            .dimensionesIcono {
                width: 100%;
                height: 100%;
            }
        }
    }
}