/*------------ pagina contacto -------------*/
@use "../generales/variables" as *;

.presupuesto {
    padding: 60px 10%;
    background-color: #F9F7F7;
    font-family: Arial, Helvetica, sans-serif;
    color: #272725;
    .presupuesto-contenido {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        align-items: start;
        .presupuesto-texto {
            align-self:flex-start;
            .titulo-principal {
                font-size: 2rem;
                color: #918868;
                font-weight: bold;
                text-align: left;
                margin-bottom: 20px;
                margin-top: 70px;
            }
            p {
                font-size: 1rem;
                color: #444;
                line-height: 1.6;
            }
        }
        .formulario {
            background-color: #fff;
            border-radius: 12px;
            padding: 30px 40px;
            box-shadow: 0 3px 12px rgba(0,0,0,0.1);
            .form-grupo {
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                label {
                    font-weight: bold;
                    color: #333;
                    margin-bottom: 6px;
                    font-size: 0.95rem;
                }
                input {
                    &[type="text"],
                    &[type="email"],
                    &[type="tel"] {
                        @include input-base;
                    }
                }

                select,
                textarea {
                    @include input-base;
                }
            }
            .form-radio {
                legend {
                    font-weight: bold;
                    margin-bottom: 8px;
                    color: #333;
                }
                label {
                    margin-right: 15px;
                    color: #555;
                }
            }
            .form-check {
                font-size: 0.9rem;
                padding-left: 0px;
                a {
                    color: #918868;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .btn-enviar {
                background-color: #918868;
                color: #fff;
                border: none;
                border-radius: 10px;
                padding: 12px 24px;
                font-size: 1rem;
                cursor: pointer;
                font-weight: bold;
                transition: background-color 0.3s ease, transform 0.2s ease;
                margin-top: 10px;

                &:hover {
                    background-color: #7d735a;
                    transform: scale(1.03);
                }
            }
        }
    }
}
