/*----------- Proyectos mediaQuery ---------*/
@media (max-width: 480px) {
    .titulonuestrosproyectos {
        h1 {
            color: #918868;
            font-size: 1.1rem;
            font-weight: 600;
            line-height: 1.2;
            display: flex;
            margin-left: 90px;
            margin-top: 40px;
            margin-bottom: 0;
        }
    }
    .row {
        --bs-gutter-x: 1rem; 
        margin: 0 auto;
        justify-content: center;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 80px;
        .col {
            .card {
                .card-img-top {
                    height: 200px;
                }
                .card-body {
                    .card-title {
                        font-size: 1.1rem;
                        font-weight: 600;
                    }
                    .card-text {
                        font-size: 0.7rem;
                        line-height: 0.9rem;
                        color: #333;
                        text-align: center;
                        margin-top: 10px;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                }
            }
        }
    }
}