/*--------- Servicios --------*/
.servicios {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 180px;
    margin-right: 180px;
    .titulo-principal {
        font-size: 2rem;
        color: #918868;
        font-weight: bold;
        text-align: left;
        margin-bottom: 25px;
        margin-top: 70px;
    }
    .servicios-layout {
        display: grid;
        grid-template-columns: 2fr 1fr; 
        align-items: start;
        gap: 40px;
        .servicios-lista {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 25px;
            .servicio {
                background-color: #ffffff;
                border-radius: 12px;
                border: 1px solid #dedede;
                padding: 25px;
                box-shadow: 0 2px 6px rgba(0,0,0,0.1);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                h2 {
                    color: black;
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                    font-weight: bold;
                }
                p {
                    font-size: 0.9rem;
                    line-height: 1.6;
                    color: #272725;
                }
                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
                }
            }
        }
        .servicios-imagen {
            display: flex;
            justify-content: center;
            align-items: start;
            img {
                width: 100%;
                max-width: 400px;
                height: 720px;
                border-radius: 12px;
                object-fit: cover;
                box-shadow: 0 3px 10px rgba(0,0,0,0.2);
            }
        }
    }
    .servicios-final {
        text-align: center;
        margin-top: 150px;
        font-style: italic;
        color: #555;
        margin-bottom: 150px;
    }
}